<h1>Angular Basic Form</h1>
<form  #basicform='ngForm' (submit)="getdata(basicform.value)">
    <input  type="text" placeholder="UserName" name="username" ngModel > <br><br>
    <input  type="text" placeholder="Email" name="email" ngModel><br><br>
    <input  type="text" placeholder="MobileNo" name="mobileNo" ngModel><br><br>
    <button>submit</button>
</form>

<div>
    <ul>
        <li>{{dataobject.username}}</li>
        <li>{{dataobject.email}}</li>
        <li>{{dataobject.mobileNo}}</li>
    </ul>
</div>

<!-- toggle button -->
<button (click)="click()">Toggle</button>
<h2 *ngIf="show">Angular!!</h2>